@import "mixins/rem";
// Bootstrap variables change
$font-family-base: 'Montserrat',
$font-family-sans-serif;
$body-color: #000;
// end bootstrap variables
$wc: #fff;
$bc: #000;
$mc: #9d4fc2;
$sc: #888;
$tc: #162436;
